name: sync

on:
  workflow_dispatch: {}

jobs:
  docker_to_alihz:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - src: "sqjian/venv:ubuntu22.04-cuda12.8"
            dst: "registry.cn-hangzhou.aliyuncs.com/vsc-github/venv:ubuntu22.04-cuda12.8"
          - src: "sqjian/venv:ubuntu22.04"
            dst: "registry.cn-hangzhou.aliyuncs.com/vsc-github/venv:ubuntu22.04"
    steps:
      - name: Sync Docker Images
        run: |
          #!/usr/bin/env bash

          set -euxo pipefail

          sync_image() {
              local src_img=$1
              local dst_img=$2

              echo "Copying from source to destination..."
              skopeo copy docker://"${src_img}" docker://"${dst_img}" \
                  --dest-creds=${{ secrets.ALIYUN_USERNAME }}:${{ secrets.ALIYUN_PASSWORD }}
          }

          sync_image "${{ matrix.src }}" "${{ matrix.dst }}"
